# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
*.pyc

# cph
.cph

# private files
private[.-]*
private

# Build
vendor
build
dist
tools-stamp
buf-stamp
artifacts

# Go
go.work
go.work.sum

# Testing
coverage.out
coverage.txt
*profile.out

# IDE
.idea
*.iml
.dir-locals.el
.vscode

# Graphviz
dependency-graph.png
debug_container.dot

# Latex
*.aux
*.out
*.synctex.gz